body {
  background: #222;
  color:#FFF;
  font:normal 62.5%/1.5 "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size:50px;
  margin:100px 0 0;
  text-align:center;
}

p#updated {
  color:#555;
  text-align:center;
}

#status ul {
  list-style:none;
  margin:0;
  padding:0;
}

#status ul li {
  padding:0 10px;
}

#status h2 {
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  display:none;
  font-size:80px;
  font-weight:200;
  padding:20px;
  text-shadow:0 -2px 0 rgba(0,0,0,0.5);
}

#status h2 span {
  font-weight:bold;
}

#status h2#facebook {
  background:#335199;
  border:2px solid #0C1426;
}

#status h2#twitter {
  background:#6BB2C0;
  border:2px solid #080E0F;
}

#status h2#chartbeat {
  background:#810300;
  border:2px solid #2F0000;
}

#weather {
  background: #fcda32; /* Old browsers */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcda32), color-stop(50%,#fceb00), color-stop(51%,#efd126), color-stop(100%,#f9e04f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcda32 0%,#fceb00 50%,#efd126 51%,#f9e04f 100%); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #fcda32 0%,#fceb00 50%,#efd126 51%,#f9e04f 100%); /* W3C */
  border-top:2px solid #000;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.2);
  color:#000;
  display:none;
  font-size:35px;
  padding:10px;
  position:absolute;
  top:0;
  right:0;
  left:0;
  text-align:center;
  text-shadow:0 1px 0 rgba(255,255,255,0.8);
}